<section class="page-content">
    <div class="register-header text-center">
        <img src="dist/assets/img/logo.png" />
    </div>
    <div class="register-wrapper">
        <div class="header text-center">Your passphrases</div>
        <div class="content">
            <p class="warning">Write down or save recovery passphrase in a secure location. Refrain from disclosing to others.</p>
            <textarea name="" id="" cols="15"></textarea>
        </div>
        <div class="footer">
            <a routerLink="/register" class="button white pull-left"> Previous </a>
            <a routerLink="/register/passphrase" class="button green pull-right">  Next   </a>
            <div class="clearfix"></div>
        </div>
    </div>
</section>